<center>
	<h2>Asset Management</h2>
</center>
<div class="well">
	<p>Asset Management Services include:</p>
	<ul>
		<li type="circle">Contract Administration and Optimization</li>
		<li type="circle">Contract Development and Negotiation</li>
		<li type="circle">Energy Management Oversight</li>
			<ul>
				<li type="circle">Hedging Analysis and Support</li>
			</ul>
		<li type="circle">Operations and Management Oversight</li>
		<li type="circle">Owner and Partner Relations</li>
		<li type="circle">GAAP Accounting and Tax Support</li>
			<ul>
				<li type="circle">Audit Management</li>
				<li type="circle">Valuation and Purchase Price Allocation Support</li>
				<li type="circle">Federal, State and Local Tax Filings and Audit Support</li>
				<li type="circle">Property and Sales and Use Tax Filings and Audit Support</li>
			</ul>
		<li type="circle">Treasury</li>
			<ul>
				<li type="circle">Debt Compliance</li>
				<li type="circle">Cash Management and Forecasting</li>
				<li type="circle">Lender Relations</li>
			</ul>
		<li type="circle">Purchasing and Accounts Payable</li>
		<li type="circle">Budget Development and Management</li>
		<li type="circle">Financial Reporting and Variance Analysis</li>
		<li type="circle">Asset Sale and Financing Support</li>
		<li type="circle">Regulatory Support</li>
	</ul>
</div>
<div class="well">
	<center>
		<%= link_to 'Overview', plant_services_path, class: "btn btn-large" %>
		<%= link_to 'Operations & Maintenance', operations_maintenance_path, class: "btn btn-large" %>
		<%= link_to 'Development Support', development_support_path, class: "btn btn-large" %>
	</center>
</div>
