<center>
	<h2>Development Support</h2>
</center>
<div class="well">
	<p>Development Support Services include:</p>
	<ul>
		<li type="circle">Project Scope</li>
			<ul>
				<li type="circle">Site Layout</li>
			</ul>
		<li type="circle">Proformance Development</li>
		<li type="circle">Permitting</li>
		<li type="circle">Vendor Selection and Management</li>
		<li type="circle">Contract Development and Negotiation</li>
		<li type="circle">Cash Management and Forecasting</li>
		<li type="circle">Financial Reporting and Variance Analysis</li>
	</ul>
</div>
<div class="well">
	<center>
		<%= link_to 'Overview', plant_services_path, class: "btn btn-large" %>
		<%= link_to 'Asset Management', asset_management_path, class: "btn btn-large" %>
		<%= link_to 'Operations & Maintenance', operations_maintenance_path, class: "btn btn-large" %>
	</center>
</div>