<div id="myCarousel" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="https://www.urgencynetwork.com/thumbs/1200x400/files/zc/v16_urgency_network_necker_island_1200x400_03042.jpg" />
      <div class="carousel-caption">
        <p>Wind</p>
      </div>
    </div>
    <div class="item">
      <img src="http://www.evindustrial.com/2013/beta1/wp-content/uploads/2013/06/Depositphotos_2456995_l-1200x400.jpg" />
      <div class="carousel-caption">
        <p>Solar</p>
      </div>
    </div>
    <div class="item">
      <img src="http://tic-usa.com/media/filer_public_thumbnails/filer_public/2013/05/28/estacion_de_bombeo2.jpg__1200x400_q85_crop.jpg" />
      <div class="carousel-caption">
        <p>Geothermal</p>
      </div>
    </div>
    <div class="item">
      <img src="http://credbc.ca/wp-content/uploads/2012/12/4445205796_1963fdc3a3_o.resized-1200x400.jpg" />
      <div class="carousel-caption">
        <p>Caithness Development, L.L.C.</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 2000
    });
  });
</script>
<div class="hero-unit">
	<center><h2>About Caithness Development</h2></center>
		<p>Caithness Development, L.L.C. and its affiliate Caithness Energy, L.L.C. (collectively "Caithness") are privately held Independent Power Producers specializing in power generation from environmentally friendly renewable and non-renewable energy resources. Our primary focus for over 25 years has been the development, acquisition, operation and management of renewable geothermal, wind and solar energy power projects, as well as (environmentally friendly) natural gas power plants.</p>
		<p>During the 1990's, economic conditions did not favor the development of new renewable energy projects, despite their environmental benefits. The abundance of inexpensive oil and gas, paired with the relative simplicity of developing gas-fire, combined-cycle generating facilities, proved to be an industry-wide strategy. Through 2007, Caithness, with its roots in renewable power generation, expanded its renewable portfolio while diversifying into environmentally friendly fossil-fuel generation. The result was an extensive portfolio consisting of 1052 megawatts (MW) of some of the premier renewable and fossil-fueled energy projects in the United States, with Caithness owning and operating major geothermal projects throughout the western U.S., as well as having interests in wind and solar energy projects.</p>
		<p>In December of 2007, Caithness divested many of its existing power facilities in order to return to its roots in green-field development. Caithness remains committed to developing power solutions that benefit the communities in which we live.</p>
</div>