<h1>Caithness</h1>
<p>Caithness Development, L.L.C. and its affiliate Caithness Energy, L.L.C. (collectively "Caithness") are privately held Independent Power Producers specializing in the development, acquisition, operation and management of renewable geothermal, wind and solar energy power projects, as well as environmentally friendly, fossil-fueled projects.</p>
