<center>
	<h2>Operations & Maintenance</h2>
</center>
<div class="well">
	<p>Operations & Maintenance Services include:</p>
	<ul>
		<li type="circle">General Operations and Maintenance and Compliance</li>
		<li type="circle">Environmental, Health & Safety</li>
			<ul>
				<li type="circle">Permit Management and Renewal</li>
			</ul>
		<li type="circle">Outage Support</li>
			<ul>
				<li type="circle">Major Maintenance Management</li>
			</ul>
		<li type="circle">Engineering Support</li>
			<ul>
				<li type="circle">Plant Modifications and Optimization</li>
			</ul>
		<li type="circle">Capital Planning</li>
		<li type="circle">Human Resources and Personnel Management and Development</li>
	</ul>
</div>
<div class="well">
	<center>
		<%= link_to 'Overview', plant_services_path, class: "btn btn-large" %>
		<%= link_to 'Asset Management', asset_management_path, class: "btn btn-large" %>
		<%= link_to 'Development Support', development_support_path, class: "btn btn-large" %>
	</center>
</div>
