<center><h2>Plant Services</h2></center>
<div class="well">
	<p>Through wholly owned subsidiaries, Caithness provides asset management, operations and maintenance, and development support services to optimize plant profitability and reliability while providing for safe, environmentally compliant operations. Below is a project summary indicating where Caithness currently provides third-party services</p>
	<p>Caithness manages every project as if we own it. We have decades of experience and a proven track record in maximizing project operations, development and profitability. Additionally, Caithness would consider an equity interest in any project where it provides third-party services and can support project financing and deal structuring.</p>
	<p>Caithness currently provides management services and has equity investments in the following electric generating power facilities:</p>
	<ul>
		<li type="circle">Rumford Power</li>
		<li type="circle">Tiverton Power</li>
	</ul>
	<p>Caithness currently provides varying degrees of management and operating services for the following electric generating power facilities owned by third parties:</p>
	<ul>
		<li type="circle">Auburndale Power Partners</li>
		<li type="circle">Lake Cogen</li>
		<li type="circle">Pasco Cogen</li>
		<li type="circle">Selkirk</li>
		<li type="circle">Badger Creek</li>
		<li type="circle">Orlando Cogen</li>
</ul>
</div>

