<center><h2>Development Projects</h2></center>
<div class="well">
	<h3>Caithness Long Island Energy Center</h3>
	<p>The Caithness Long Island Energy Center commenced commercial operations of its 350 megawatt natural gas fired power generating facility on August 1, 2009 and is now providing clean, reliable energy to Long Island Power Authority's customers. Having broken ground in April 2007, the Caithness Long Island Energy Center is the first major baseload power plant to be constructed on Long Island in over thirty years.</p>
	<p>For more information, please visit the <a href="http://www.caithnesslongisland.com/">Caithness Long Island Website.</a></p>
</div>
<div class="well">
	<h3>Caithness Shepherds Flat</h3>
	<p>Caithness Shepherds Flat, LLC ("Shepherds"), an affiliate owned by Caithness Energy, LLC was created to develop, finance, construct, own and operate a wind power generation facility with capacity of up to 909 MW located immediately south of the Columbia River in north-central Oregon, on approximately 32,000 acres in Gilliam and Morrow counties.
	<p>When completed, Shepherds will be the largest wind facility in Oregon.</p>
	Shepherds has secured all land rights, interconnection and transmission rights and material permits (which are non-appealable) required for construction of its three phases. On August 14th, 2008, the Company entered into three long-term power purchase agreements with Southern California Edison.</p>
	<p>In conjunction with Caithness Shepherds Flat is Columbia Wind, LLC, an affiliate owned by Caithness Energy, LLC which was created to develop, finance, construct, own and operate a wind power generation facility with capacity of up to 413 MW located immediately south of the Columbia River in north-central Oregon.</p>
</div>
<div class="well">
	<h3>Mescalero Ridge</h3>
	<p>Mescalero Ridge Wind, LLC, an affiliate owned by Caithness Energy, LLC was created to develop, finance, construct, own and operate a wind power generation facility with capacity of up to 800 MW in Chaves County, New Mexico. Permit approval has been obtained for 500 MW and power purchase agreements are being pursued with various parties.</p>
</div>
<div class="well">
	<h3>Caithness Blythe II</h3>
	<p>Caithness Blythe II, LLC, is a special purpose LLC owned by Caithness Energy, LLC for purpose of developing the Blythe Energy Project, Phase II, (BEP II). BEP II is a nominally rated gas fired 520 MW combined cycle power plant located in Blythe, California. The BEP II facility will be located on 76 acres approximately five miles west of the center of the City of Blythe in Riverside County.</p>
</div>