 $baseFontFamily: Helvetica;

@import 'bootstrap';
body{
    padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer {
		text-align: center;
   	bottom: 0;
    color: $grayLight;
    a{
        color: $gray;
    }
}
