$baseFontFamily: Helvetica;
$navbarBrandColor: #134E83;
$navbarLinkColor: #467097;
$heroUnitLeadColor: #467097;
$headingsColor: #134E83;

@import 'bootstrap';
body{
    padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer {
		text-align: center;
   	bottom: 0;
    color: $grayLight;
    a{
        color: $gray;
    }
}
