$baseFontFamily: Helvetica;
$navbarBrandColor: #134E83;
$heroUnitBackground: #8ABAE4;
$wellBackground: #8ABAE4;
$navbarLinkColor: #467097;

@import 'bootstrap';
body{
    padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer {
		text-align: center;
   	bottom: 0;
    color: $grayLight;
    a{
        color: $gray;
    }
}
